<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Scripts\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="BACKEND/contact_server.py" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="contact_server.app" />
  </appSettings>
</configuration>
